.about-us-pages {
    background-image: url("https://fitbook-seeds.s3-us-west-1.amazonaws.com/about-us-background.jpg");
    background-size: cover;
}


.about-us-container {
    margin-left: 70px;
    margin-right: 70px;
}


.about-us-content h1 {
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.developer-header p {
    font-family: 'Bangers', cursive;
    font-size: 50px;
    text-align: center;
    align-items: center;
}

.rainbow-text {
    font-weight: bold;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    text-align: center;
}

.about-us-gif {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.about-us-text {
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: mediumturquoise;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: medium;
    border: 1px solid black;
    font-weight: bold;
}

.link-session img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.link-session {
    justify-content: space-between;

    padding-bottom: 10px;
}

.about-us-pic img {
    border-radius: 50%;
    margin: 10px;
    max-width: 300px;
    max-height: 300px;

}


.about-us-pic p {
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.about-us-box {
    display: block;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: mediumturquoise;
}
