@import url("./home.css");
@import url("./session.css");
@import url("./workout.css");
@import url("./about-us.css");
@import url("./user_profile.css");
@import url("./footer.css");
@import url("./exercise_index.css");
@import url("./workout-show.css");
@import url("./workout-index.css");


.workout-form-type{
    display: flex;
    flex-direction: column;
}

.workout-exec-title{
    width: 375px;
    text-align: center;
}
.workout-added-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 150px;
    overflow: scroll;
    /* border: 1px solid black */
}

  
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .user-settings-form{
  background: white;
  height: 500px;
  width: 500px;
} */
