@import url("./session.css");
/** Main Page */

.jumbotron{
    background-image: url("https://media1.popsugar-assets.com/files/thumbor/7NvXrUxR1XBjpYeKPhI-ywNH63g/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2020/05/14/030/n/1922729/6978f89d348efe66_ClassPass_Zoom-background_4/i/Weightlifting-Gym-Zoom-Background.jpg");
    background-size: cover;
    height: 600px;
}

.jumbotron-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.navbar-btn{
    margin: 5px
}

.hr{
    margin-top: 50px;
    margin-bottom: 50px;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}


.workout-form-container{
    display:flex;
    justify-content: center;
    align-items:center;
    border: 1px solid black;
}

/* left */
.new-workout-form{ 
    display:flex;
    flex-direction: column;
    align-items:center;
    border: 1px solid black;
    margin: 10px;
    font-size:
}

.workout-form-right{
    display:flex;
    justify-content: center;
    align-items:center;
    border: 1px solid black;
    margin: 10px
}

.workout-form-type{
    display:flex;
    justify-content: start;
}