.exercise-index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background: linear-gradient(45deg, black, transparent);
    background-size: cover;
    min-height: 935px;
    background-attachment: fixed;
}

.add-exercise {
  width: 200px;
  height: 40px;
  margin-top: 0;
  font-size: 16px;
}

.exercise-index-container .search-box input {
  width: 400px;
  height: 40px;
  padding: 0 16px;
  color: black;
  background: #f2f2f2;
  border: 1px solid #ccc;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  outline: 0;
  margin-bottom: 15px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
    width: 100%;
}

#myinput, .add-exercise {
  margin-bottom: 0 !important;
}

::-webkit-input-placeholder {
  color: #333;
  font-weight: 300;
}

.exercise-index {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    margin-bottom: 15px;
}

.exercise-list .form-control{
  width: 80%;
}

.exercise-list button {
  padding: 1rem;
  border-radius: 4px;
}