.header-container {
    background-image: url("https://media1.popsugar-assets.com/files/thumbor/7NvXrUxR1XBjpYeKPhI-ywNH63g/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2020/05/14/030/n/1922729/6978f89d348efe66_ClassPass_Zoom-background_4/i/Weightlifting-Gym-Zoom-Background.jpg");
    height: 400px;
    background-size: cover;
    position: relative;
    
}

.header-word {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: "sans serif";
    font-weight: bold;
    height: 100px;
    width: 500px;
    color:  black;
    font-size: 1.5rem;
    padding: 24px;
    text-shadow: 1px 1px 2px white;;
    margin: 0 auto;
    padding-top: 100px;
}

.explore-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#about-us-container {
    display: flex;
    justify-content: space-evenly;

}

.about-us-left {
    text-align: center;
    margin-left: 5px;
    margin-top: 10px;
}

#footer-container {
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: x-large;
    text-align: center;
}

.about-us-right {
    width: 150px;
    height: 150px;
}

.about-us-right img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.footer section ul li {
    border-bottom: 1px solid black;
}

.col {
    display: block;

}
