.jumbotron{
    background-image: url("https://fitbook-seeds.s3-us-west-1.amazonaws.com/home-page1.jpg");
    background-size: cover;
    height: 600px;
}

.main-page {
    padding-bottom: 2.5rem;
}

.jumbotron-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.navbar-btn{
    margin: 5px
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.row {
    margin-right: 100px;
    margin-left: 100px;
}


h2.featurette-heading {
    font-size: 42px
}

.lead {
    font-size: 32px;
}