.user-body {
  background: url("https://cdn.mos.cms.futurecdn.net/gTxTWSYcKzvLNrCuAyRTUY.jpg") no-repeat;
  background-size: 100%;
  background-size: cover;
  /* background: orange; */
  width: 100%;
  min-height: 1000px;
  padding-top: 20px;
  opacity: .9;
}


.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 2px 5px 10px 5px;
  background: #fff;
  opacity: .95;
  border-radius: 3px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 5px;
}

.profile-usertitle-name {
  /* color: #5a7391; */
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 15px;
  background: #fff;
  min-height: 460px;
  opacity: .95;
  border-radius: 3px;
  margin: 5px;
}

.workout-list{
    display: flex;
    /* flex-direction: column; */
    width: 500px;
    margin: 1rem;   
}

.workout-list a {
  color: whitesmoke;
}

.user-workouts{
  background: white;
  margin: 5px;
  padding: 15px;
  opacity: .95;
  border-radius: 3px;

}

.btn-info {
    margin: 5px;
    width: 150px;
}

/* Settings Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: black;
  float: right;
  font-size: 34px;
  font-weight: bold;
}

/* .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */


#recommendation{
  visibility: hidden;
  background: #ffff88;
  padding: 10px;
  margin-top: 50px;
  border-radius: 3px;
}


.schedule-header{
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-instructions{
  font-size: 12px;
  line-height: 5px;
}