
/* Workouts  */
.workout-form-container{
    display:flex;
    justify-content: center;
    align-items:center;
    /* border: 1px solid black; */
    height: 750px;
}

/* left */
.new-workout-form{ 
    display:flex;
    flex-direction: column;
    align-items:center;
    /* border: 1px solid black; */
    margin: 10px;
    height: 100%;
}

.workout-form-right, .workout-form-left{
    display:flex;
    justify-content: center;
    align-items:center;
    /* border: 1px solid black; */
    margin: 10px;
    width: 100%;
    padding: 15px;
    height: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.exercise-list{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.exercise-ul{
    padding: 0;
    overflow: scroll;
    /* max-height: 50%; */
    height: 100vh;
    /* position: fixed; */
    border: 1px solid black;
    box-shadow: black;
    width: 420px;
}
.workout-form-type{
    display:flex;
    justify-content: start;
}

.exercise-item-list{
    display: flex;
    justify-content: space-around ;
    border: 1px solid black;
    margin: 5px; 
    padding: 5px;
    width: 400px;
    height: 170px;
    align-items: center;
}

.exercise-img{
    height: 150px;
    width: 250px;
    border-radius: 3px;
}

.exercise-img-chest {
    background: url("https://fitbook-seeds.s3-us-west-1.amazonaws.com/exercise-img-chest.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
.exercise-img-legs {
    background: url("https://fitbook-seeds.s3-us-west-1.amazonaws.com/exercise-img-legs.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
.exercise-img-full-body {
    background: url("https://fitbook-seeds.s3-us-west-1.amazonaws.com/exercise-img-fullbody.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
.exercise-img-shoulders {
    background: url("https://fitbook-seeds.s3-us-west-1.amazonaws.com/exercise-img-shoulder.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.exercise-img-arms {
    background: url("https://fitbook-seeds.s3-us-west-1.amazonaws.com/exercise-img-arms.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
