.workout-show-background img {
    position: fixed;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.workout-title {
    justify-content: center;
    text-align: center;
    font-size: 80px;
    border: 1px solid black;
    margin-bottom: 30px;
    margin-right: 265px;
    margin-left: 265px;
    background-color: lightseagreen;
    opacity: 0.9;
}

.workout-exercise-title h3 {
    border-bottom: 1px solid black;
    text-align: center;
}

.workout-exercise-title {
    border: 1px solid black;
    background-color: lightseagreen;
    width: 100%;
    display: block;
    margin-left: 265px;
    opacity: 0.9;
}

.workout-show-container {
    justify-content: space-evenly;
    display: flex;
}

.exercise-container {
    border-bottom: 1px black solid;
    margin-left: 20px;
    margin-right: 20px;
}

.exercise-element {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.exercise-img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.workout-notes {
    border: 1px solid black;
    background-color: lightseagreen;
    font-size: large;
    display: block;
    float: right;
    text-align: center;
    width: 100%;
    margin-right: 265px;
    opacity: 0.9;
}

.workout-notes h3 {
    border-bottom: 1px solid black;
}

.workout-notes h4 {
    font-weight: bold;
}

.comments-container {
    justify-content: center;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 265px;
    margin-left: 265px;
    background-color: lightseagreen;
    opacity: 0.9;
}