.workout-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

.workout-index-background {
    width: 100%;
    height: 100%;
    /* position: absolute; */
}

.workout-index-background img {
    position: fixed;
    opacity: 1;
    width: 100%;
    height: 100vh;
}

.workout-index-header {
    z-index: 1;
    color: black;
}

.workout-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    overflow: scroll;
    /* z-index: 1; */
}

.add-workout-button {
    background-color: lightseagreen;
    color: black;
    border-color: black;
    font-weight: bold;
    z-index: 1;
    opacity: 0.9;
}

.workout-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    color: black;
    margin: 15px 0 15px;
    background: lightgray;
    border: 1px solid #333;
    font-weight: 500;
    font-size: 36px;
    border-radius: 4px;
    padding: 10px 16px;
    opacity: 0.9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.workout-item-title {
    color: black;
}

.workout-title-container {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.workout-item-delete {
    background-color: slategray;
    
}

.workout-item-update {
    background-color: slategray;
}

.workout-item-update a {
    color: white;
}

.workout-index-title {
    font-size: x-large;
}

.workout-list-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.user-index-container {
    float: left;
    border: 1px solid black;
}

.alluser-workout-index-container {
    float: right;
}

.add-workout-button {
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.whole-container {
    display: flex;
}

.workout-index-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: black;
    margin: 15px 0 15px;
    font-weight: 500;
    font-size: 36px;
    border-radius: 4px;
    padding: 10px 16px;
    opacity: 0.9;
}
