
/* Workouts  */
.workout-form-container{
    display:flex;
    justify-content: center;
    align-items:center;
    /* height: 750px; */

}

.workout-div{
    background: url("https://fit-book-bucket.s3-us-west-1.amazonaws.com/sj-background.jpg");
    background-size: cover;
    height: 93vh;
    opacity: .9;
}

/* left */
.new-workout-form{ 
    display:flex;
    flex-direction: column;
    align-items:center;
    border: 1px solid #ccc;
    margin: 10px;
    height: 100%;
    padding: 1rem;
    border-radius: 4px;
    background: #fefefe;
    box-shadow: 0 5px 10px grey;
}

.workout-form-right, .workout-form-left{
    display:flex;
    justify-content: center;
    align-items:center;
    margin: 10px;
    width: 100%;
    padding: 15px;
    height: 800px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.exercise-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2rem;
    background: #fefefe;
    margin: 10px;
    box-shadow: 0 5px 10px grey;
}

.exercise-list > a {
    cursor: pointer;
    text-decoration: none;
}

.exercise-ul{
    padding: 1rem;
    overflow: auto;
    /* max-height: 50%; */
    height: 100vh;
    /* position: fixed; */
    box-shadow: black;
    /* width: 440px; */
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.exercise-item-list{
    display: flex;
    justify-content: space-around ;
    border: 1px solid black;
    margin: 5px; 
    padding: 5px;
    /* width: 400px; */
    width: 100%;
    height: 170px;
    align-items: center;
    cursor: pointer;
}

.exercise-item-list:hover{
    cursor: pointer;
    transform: scale(1.01);
}


.exercise-img{
    height: 150px;
    width: 250px;
    border-radius: 3px;
}

.exercise-img-chest {
    background: url("https://fitbook-seeds.s3-us-west-1.amazonaws.com/exercise-img-chest.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
.exercise-img-legs {
    background: url("https://fitbook-seeds.s3-us-west-1.amazonaws.com/exercise-img-legs.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
.exercise-img-full-body {
    background: url("https://fitbook-seeds.s3-us-west-1.amazonaws.com/exercise-img-fullbody.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
.exercise-img-shoulders {
    background: url("https://fitbook-seeds.s3-us-west-1.amazonaws.com/exercise-img-shoulder.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.exercise-img-arms {
    background: url("https://fitbook-seeds.s3-us-west-1.amazonaws.com/exercise-img-arms.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}


.workout-form-type{
    display: flex;
    flex-direction: column;
    padding-right: .5rem;
    
}

.workout-exec-title{
    width: 375px;
    text-align: center;
    display: flex;
    align-items: flex-start;
}
.workout-added-list{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    overflow: auto;
    list-style-type: none;
}

  